asgiref==3.3.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Django==3.1.7
django-cors-headers==3.7.0
django-debug-toolbar==3.2
django-environ==0.4.5
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
gTTS==2.2.2
idna==2.10
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
