body {
  background: no-repeat center/cover url(https://source.unsplash.com/random);
}
header {
  @apply flex-none relative z-50 text-sm leading-6 font-medium bg-white ring-1 ring-gray-900 ring-opacity-5 shadow-sm;
  @apply h-10 flex items-center text-lg font-semibold;
}
header > div {
  @apply mx-auto px-4 w-full flex justify-between  flex-wrap sm:flex-nowrap container;
}
.router-view {
  @apply container  mx-auto flex justify-center items-center;
  min-height: calc(100vh - 2.5rem);
}

.page {
  @apply flex-col;
}
h1 {
  @apply text-center flex justify-between w-full text-lg;
}
.card {
  @apply my-auto flex justify-between items-center flex-col p-4 pt-2 rounded-xl;
  background: rgba(255, 255, 255, 0.8);
  font-size: calc(1rem + 5vw);
  width: 96%;
  min-height: 80vh;
}
.card > div {
  @apply flex items-center flex-col max-w-full;
}
label.ok.true {
  @apply text-green-600;
}
label.ok.false {
  @apply text-red-600;
}
input {
  @apply px-4 py-2;
  max-width: 96%;
}
button, .button, .button-xl {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-xl;
  margin-top: 5vh;
}
button.give-up {
  @apply bg-red-700 hover:bg-red-800;
}
button.next {
  @apply bg-green-400 hover:bg-green-500;
}
button.next.false {
  @apply bg-red-600;
}
.button-xl {
  font-size: calc(1rem + 5vw);
}
img.play {
  @apply cursor-pointer;
  width: 10vw;
  margin-right: 5vw;
}
.card > div.keys, .keys {
  @apply flex w-full flex-row flex-wrap justify-around;
}
.keys > div {
  width: 30%;
  @apply text-center bg-yellow-500 my-2 py-1 rounded-xl cursor-pointer;
}
