<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body class="flex items-center justify-center h-screen">
        <header class="top-0 left-0 w-full z-40 fixed border-b">
            <div class="container flex items-center justify-between h-16 px-6 mx-auto">
                <a title="tailwindcss components" href="/">Главная</a> 
                <div class="hidden sm:block">
                    <nav class="relative flex-col items-center justify-end flex-1 mt-12 main-nav sm:flex sm:mt-0 sm:flex-row">
                        <div class="flex flex-col items-center mt-2 sm:mt-0 sm:flex-row"> 
                            {% if user.is_authenticated %}
                            <span>Привет, {{ user.first_name }}</span>
                            <a href="{% url 'logout' %}" class="px-5 py-2 mt-8  opacity-75 sm:text-secondary hover:opacity-100 sm:mt-0">Выйти</a>
                            {% else %}
                            <span>Кто ты, странник?</span>
                            <a href="{% url 'login' %}" class="px-5 py-2 mt-8  opacity-75 sm:text-secondary hover:opacity-100 sm:mt-0">Имя назвать</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class="top-16 left-0 fixed w-full">
            {% block notification %}
            {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>
